@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,300;1,300&display=swap');
body {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,span {
    font-family: 'Roboto', sans-serif;
    color: #242424;
    text-align: center;
    line-height: 1.25;
}
p{
    line-height: 1.5;
    font-size: 16px;
}
/*NAV BAR*/
nav{
 
    height: 100px;
   width: 100%;
   max-width: 1000px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}