@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,300;1,300&display=swap');
body {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,span {
    font-family: 'Roboto', sans-serif;
    color: #242424;
    text-align: center;
    line-height: 1.25;
}
p{
    line-height: 1.5;
    font-size: 16px;
}
/*NAV BAR*/
nav{
 
    height: 100px;
   width: 100%;
   max-width: 1000px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.nav_link-list{
    display: flex;
}
li{
    list-style: none;

}
.nav__link--anchor{
    margin: 0 12px;
    color: #242424;
    text-decoration: none;
    font-weight: 700;
}
.nav__link--anchor-primary{
background-color: #6030b1;
padding: 8px 20px;
border-radius: 50px;
color: white;
}
.nav__link--anchor-primary:hover{
    background-color: #4e2596;
    transition: 0.3s;
}